<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{#if script}}
	<script type="text/javascript" src="{{script}}"></script>
	{{/if}}

	<link rel="stylesheet" type="text/css" href="bundle.css">
</head>
<body>
	{{{ body }}}
</body>
</html>